{% extends 'base.html' %} 
{% load static %}

{% block title %}Welcome|Carttart-E-Commerce{% endblock %} 
{% block logo_image %}{% static 'images/y-logo.png' %}{% endblock logo_image %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/commerce.css' %}" />

<!-- Hero Section with Video Background -->
<section class="hero">
    <video autoplay muted loop id="hero-video">
      <source src="{% static 'videos/ecommerce.mp4' %}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="hero-content">
      <h1>Transforming Shopping Experience</h1>
      <p>with seamless solutions</p>
    </div>
  </section>

<!-- MAIN CONTENT2 -->
<main id="content">
    <section class="bakgground">
      <div class="boxcontainer">

        <div class="main-content">
          <!-- First Image and Content -->
          <div class="card_main">
            <div class="container_card">
              <div class="container_card_content">
                <h1 class="card-title2"> E-Commerce </h1>
                <h5 class="card-description1">
                  Discover a world of products at your fingertips with e-commerce!
                  Shop smarter with personalized options, faster with quick
                  checkouts, and easier with doorstep delivery. Experience the
                  convenience of online shopping today! Lorem ipsum dolor sit, amet consectetur adipisicing Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo provident amet necessitatibus non veniam pariatur, asperiores dolor sequi impedit in?
                </h5>
              </div>
              <div class="container_card_pofilephoto2">
                <div class="container_card_pofilephoto2">
                <img src="{% static 'images/ecom.jpeg' %}" class="profile-img2" alt="hypermarket" />
              </div>
                <!-- <img src="global.png" class="profile-img" alt="Real-Time Strategy" /> -->
              </div>
            </div>
          </div>

          <!-- Second Image and Content -->
          <div class="card_main2">
            <div class="container_card">
              <div class="container_card_pofilephoto1">
                <img src="{% static 'images/retail.jpg' %}" class="profile-img2" alt="retail" id="card2_img" />
              </div>
              <div class="container_card_content2">
                <h1 class="card-title">RETAIL</h1>
                <h5 class="card-description2">
                  Retail made simple—bringing the best products closer to you.
                  Shop with ease and find everything you need in one place. From
                  quality to convenience, we've got you covered. Redefining your
                  shopping experience, every step of the way. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Minima repellendus repudiandae odio obcaecati autem deserunt, fugit ab doloribus earum incidunt enim,
                  voluptatum beatae libero culpa laudantium harum ea. Facere nam voluptatum vero natus libero, possimus
                 


              </div>
            </div>
          </div>

          <!-- Collage -->
          <div class="box">
            <div class="box-content">
              <h1>DEPARTMENT STORES</h1>
              <p> Explore everything you need Under one roof where style, Variety
                and convenience meet At our department stores, Enjoy unbeatable
                quality, variety, and convenience. Your one-stop destination for
                all your shopping desires! Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio adipisci
                ratione cumque asperiores eligendi dolorem! Est hic minima placeat aperiam ut, mollitia molestiae
                </p>
            </div>

            <div class="collage">
              <!-- Square Grid -->
              <div class="square-grid">
                <!-- Div 1 -->
                <div class="div1">
                  <img src="{% static 'images/departentstore.jpeg' %}" alt="Image 1">
                  <button class="image-button">Learn More</button>
                </div>
                <!-- Div 2 -->
                <div class="div2">
                  <img src="{% static 'images/depart2.jpg' %}" alt="Image 2">
                  <button class="image-button">Learn More</button>
                </div>
                <!-- Div 3 -->
                <div class="div3">
                  <img src="{% static 'images/depart3.jpg' %}" alt="Image 3">
                  <button class="image-button">Learn More</button>
                </div>
                <!-- Div 4 -->
                <div class="div4">
                  <img src="{% static 'images/depart4.jpg' %}" alt="Image 4">
                  <button class="image-button">Learn More</button>
                </div>
              </div>
            </div>

          </div>

          <!-- third Image and Content -->
          <div class="card_main2">
            <div class="container_card">
              <div class="container_card_pofilephoto1">
                <img src="{% static 'images/speciality store.jpg' %}" class="profile-img2" alt="Fighting" id="card2_img" />
              </div>
              <div class="container_card_content2">
                <h1 class="card-title">SPECIALTY STORE</h1>
                <h5 class="card-description2">
                  quality to convenience, we've got you covered. Redefining your
                  shopping experience, every step of the way. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Minima repellendus repudiandae odio obcaecati autem deserunt, fugit ab doloribus earum incidunt enim,
                  voluptatum beatae libero culpa laudantium harum ea. Facere nam voluptatum vero natus libero, possimus
                  iste explicabo, hic consequuntur, laboriosam temporibus. Ad quia dicta dolor enim distinctio, nam,
                  


              </div>
            </div>
          </div>



          <!-- Fourth Image and Content -->
          <div class="card_main">
            <div class="container_card">
              <div class="container_card_content">
                <h1 class="card-title2">HYPER MARKETS</h1>
                <h5 class="card-description1">
                  Shop smarter with personalized options, faster with quick
                  checkouts, and easier with doorstep delivery. Experience the
                  convenience of online shopping today! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Laudantium cum error deserunt! Dolores, ducimus maiores quisquam illo eos deleniti earum cum ipsa
                  aspernatur perspiciatis rerum officiis. Sint provident dicta libero facere inventore dolorem
                 
                </h5>
              </div>
              <div class="container_card_pofilephoto2">
                <img src="{% static 'images/HYPER MARKETS.PNG' %}" class="profile-img2" alt="hypermarket" id="card2_img"/>
              </div>
            </div>
          </div>

          <!-- Fifth Image and Content -->
          <div class="card_main2">
            <div class="container_card">
              <div class="container_card_pofilephoto1">
                <img src="{% static 'images/FACTORY OUTLET.png' %}" class="profile-img2" alt="Fighting"  id="card2_img"/>
              </div>
              <div class="container_card_content2">
                <h1 class="card-title">FACTORY OUTLET</h1>
                <h5 class="card-description2">
                  quality to convenience, we've got you covered. Redefining your
                  shopping experience, every step of the way. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Minima repellendus repudiandae odio obcaecati autem deserunt, fugit ab doloribus earum incidunt enim,
                  voluptatum beatae libero culpa laudantium harum ea. Facere nam voluptatum vero natus libero, possimus
                  iste explicabo, hic consequuntur, laboriosam temporibus. Ad quia dicta dolor enim distinctio, nam,
                  
                 


              </div>
            </div>
          </div>

          <!-- Fifth Image and Content -->
          <div class="card_main">
            <div class="container_card">
              <div class="container_card_content">
                <h1 class="card-title2">RETAIL ANALYTICS</h1>
                <h5 class="card-description1">
                  Shop smarter with personalized options, faster with quick
                  checkouts, and easier with doorstep delivery. Experience the
                  convenience of online shopping today! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Laudantium cum error deserunt! Dolores, ducimus maiores quisquam illo eos deleniti earum cum ipsa
                  aspernatur perspiciatis rerum officiis. Sint provident dicta libero facere inventore dolorem
                 
                </h5>
              </div>
              <div class="container_card_pofilephoto2">
                <img src="{% static 'images/RETAIL ANALYTICS.jpeg' %}" class="profile-img2" alt="hypermarket" id="card2_img" />
              </div>
            </div>
          </div>


        </div>

      </div>
    </section>
  </main>



  <!-- Card Section -->
  <div class="latest-card">
    <div class="Scroll">
      <h2>Shop smart. Save more. Thrive forever.</h2>
      <div class="card-grid">
        <!-- card 1 -->
        <div class="card ">
          <img src="{% static 'images/speciality store.jpg' %}" alt="card 1">
          <div class="card-content">
            <h3>Blog 1</h3>
            <p>SPECIALTY STORES Uncover unique finds at our specialty store
              where every product is tailored to your taste and style.</p>

          </div>
          <a href="#" class="read-more">Explore More</a>
        </div>

        <!-- card 2 -->
        <div class="card">
          <img src="{% static 'images/HYPER MARKETS.png' %}" alt="card 2">
          <div class="card-content">
            <h3>Blog 2</h3>
            <p>From groceries to gadgets, Our hypermarket has everything You
              need all at unbeatable prices.</p>

          </div>
          <a href="#" class="read-more">Explore More</a>
        </div>

        <!-- card 3 -->
        <div class="card">
          <img src="{% static 'images/FACTORY OUTLET.png' %}" alt="card 5">
          <div class="card-content">
            <h3>Blog 3</h3>
            <p>Unbeatable price on top brand Discover incredible deals at Our
              factory outlet store.</p>
          </div>
          <a href="#" class="read-more">Explore More</a>
        </div>

        <!-- card 4 -->
        <div class="card">
          <img src="{% static 'images/RETAIL ANALYTICS.jpeg' %}" alt="card 4">
          <div class="card-content">
            <h3>Blog 4</h3>
            <p> From groceries to gadgets, Our hypermarket has everything You
              need all at unbeatable prices.</p>

          </div>
          <a href="#" class="read-more">Explore More</a>
        </div>

        <!-- card 5 -->
        <div class="card">
          <img src="{% static 'images/warehouse.webp' %}" alt="card 3">
          <div class="card-content">
            <h3>Blog 5</h3>
            <p>Lrem ipsum dolor sit amet consectetur adipisicing elit. Facere, cupiditate.</p>

          </div>
          <a href="#" class="read-more">Explore More</a>
        </div>

        <!---card 6 ---->
        <div class="card ">
          <img src="{% static 'images/speciality store.jpg' %}" alt="card 1">
          <div class="card-content">
            <h3>Blog 6</h3>
            <p>SPECIALTY STORES Uncover unique finds at our specialty store
              where every product is tailored to your taste and style.</p>

          </div>
          <a href="#" class="read-more">Explore More</a>
        </div>

        <!-- card 7 -->
        <div class="card">
          <img src="{% static 'images/HYPER MARKETS.jpeg' %}" alt="card 2">
          <div class="card-content">
            <h3>Blog 7</h3>
            <p>From groceries to gadgets, Our hypermarket has everything You
              need all at unbeatable prices.</p>

          </div>
          <a href="#" class="read-more">Explore More</a>
        </div>

        <!-- card 8 -->
        <div class="card">
          <img src="{% static 'images/FACTORY OUTLET.png' %}" alt="card 5">
          <div class="card-content">
            <h3>Blog 8</h3>
            <p>Unbeatable price on top brand Discover incredible deals at Our
              factory outlet store.</p>
          </div>
          <a href="#" class="read-more">Explore More</a>
        </div>

        <!-- card 9 -->
        <div class="card">
          <img src="{% static 'images/RETAIL ANALYTICS.jpeg' %}" alt="card 4">
          <div class="card-content">
            <h3>Blog 9</h3>
            <p> From groceries to gadgets, Our hypermarket has everything You
              need all at unbeatable prices.</p>

          </div>
          <a href="#" class="read-more">Explore More</a>
        </div>

        <!-- card 10 -->
        <div class="card">
          <img src="{% static 'images/warehouse.webp' %}" alt="card 3">
          <div class="card-content">
            <h3>Blog 10</h3>
            <p>Lrem ipsum dolor sit amet consectetur adipisicing elit. Facere, cupiditate.</p>

          </div>
          <a href="#" class="read-more">Explore More</a>
        </div>


      </div>
    </div>
  </div>


<script src="{% static 'js/commerce.js' %}"></script>
{% endblock content %}